<?xml version="1.0" encoding="UTF-8" ?>
<taglib xmlns="http://java.sun.com.xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchmema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
        version="2.0">

        <tlib-version>1.0</tlib-version>
        <short-name>permit</short-name>
        <uri>mivTags</uri>

        <tag>
                <name>permit</name>
                <tag-class>edu.ucdavis.myinfovault.PermitTag</tag-class>
                <body-content>scriptless</body-content>
                <example>&lt;miv:permit roles="CANDIDATE|DEAN"&gt;</example>
                <example>&lt;miv:permit action="Edit User"&gt;</example>

                <attribute>
                        <name>roles</name>
                        <required>false</required>
                        <rtexprvalue>true</rtexprvalue>
                </attribute>

                <attribute>
                	<name>action</name>
                        <required>false</required>
                        <rtexprvalue>true</rtexprvalue>
                </attribute>

                <attribute>
                        <name>location</name>
                        <required>false</required>
                        <rtexprvalue>true</rtexprvalue>
                </attribute>
                
                <attribute>
                        <name>qualifier</name>
                        <required>false</required>
                        <rtexprvalue>true</rtexprvalue>
                </attribute>

                <attribute>
                        <name>usertype</name>
                        <required>false</required>
                        <rtexprvalue>true</rtexprvalue>
                </attribute>
        </tag>
</taglib>

