<div class="datatable_features">
    <div class="featuresHeader ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
        <div class="expand_collapse ui-icon ui-icon-plusthick" title="Show Tips and Color Codes" ></div>
        <div class="featuresTitle"><label class="tips" >Expand to get Tips and Color code details</label></div>
    </div>
    <div class="featuresDescription display-none ui-corner-bl ui-corner-br">
        <ul>
            <li><span class="key">Show entries option:</span>
                <span class="details">
                <!-- Use the length option to set the displayed result size. -->
                Select the number of entries to show in the displayed results list.
                </span></li>

            <li><span class="key">Find in all filter:</span>
                <span class="details"><!--
                It allows to user to input words and will match a row containing those words,
                even if not in the order that was specified (this allow matching across multiple columns).-->
                Enter words in the <em>Find</em> box and only rows that contain all of those words,
                in any column and in any order, will be shown.
                </span></li>

            <li><span class="key">Smart filter:</span>
                <span class="details">
                <strong>Double click</strong> in the result data to filter by the clicked text.
                </span></li>

            <li><span class="key">Clear filter:</span>
                <span class="details"> Use the clear button to reset the filter.</span></li>
            
            <li><span class="key">Individual column filter:</span>
                <span class="details"><!--
                It allows to user to input words and will match a column containing those words,
                even if not in the order that was specified.-->
                Enter words in the <em>column filter</em> box and only rows with columns that contain all of those words,
                in any column and in any order, will be shown.
                </span></li>

            <li><span class="key">Sorting:</span>
                <span class="details">
                Click on a column heading to sort the results by that column.
                Click again to reverse the sort order.
                </span></li>

            <li><span class="key">Multi column sorting:</span>
                <span class="details">
                Hold the <strong>shift key</strong> and click on an additional column heading
                to include more columns in the sort order.
                </span></li>

            <li><span class="key">Pagination:</span>
                <span class="details">
                The lower right corner of the result list has pagination features to allow
                browsing the search results one page at a time.
                </span></li>

            <li><span class="key">Color codes:</span>
                <ul style="list-style-type: none;">
                    <li>
                        <span style="background-color: #FFFFFF;" class="color_code"> &nbsp;&nbsp;&nbsp;  </span>
                        <span style="background-color: #F6EFD7;" class="color_code"> &nbsp;&nbsp;&nbsp;  </span>
                        <span class="details">&nbsp;&nbsp;Search result.</span>
                    </li>
                    <li>
                        <span style="background-color: #EEFFEE;" class="color_code"> &nbsp;&nbsp;&nbsp;  </span>
                        <span style="background-color: #DDFFDD;" class="color_code"> &nbsp;&nbsp;&nbsp;  </span>
                        <span class="details">&nbsp;&nbsp;Selected Users / Dossiers to be Archived.</span>
                    </li>
                    <li>
                        <span style="background-color: #D3D6FF;" class="color_code"> &nbsp;&nbsp;&nbsp;  </span>
                        <span style="background-color: #ABB1FC;" class="color_code"> &nbsp;&nbsp;&nbsp;  </span>
                        <span class="details">&nbsp;&nbsp;Columns selected for sorting.</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div><!-- featuresDescription -->
</div>
