<div class="help" id="group_assignment">
<p>
Group membership is established by selecting and adding members to the group
from the Available Users/Groups.
</p>
<p>
The Available Users/Group field provides a list of available MIV users to be
assigned to a group. It displays individuals and eligible groups to the
administrator. This includes groups which may have been created by others and
shared.
</p>
</div>
