/* ----- Style sheet for manage annotations page ----- */
@CHARSET "UTF-8";

#main {
	min-width: 55em;
}

#main.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#main #AnnotationLineForm .mivDialog {
	max-width: 70em;
	min-width: 55em;
}

#main .previewitemlist {
	background: none;
	box-shadow: none;
	border: none;
}

.annotationform {
	width: 650px;
}

.annotation-field-label {
	font-weight: bold;
	vertical-align: top;
	padding: 0.5em 0;
}

#main div.labelright,#main div.labelleft {
	margin-left: 5.5em;
}

div.recordblock .recordsection .editannotations {
	display: inline-block;
}

#main .annotationentry {
	display: inline-block;
	width: 90%;
}

#main div.recordblock .recordsection .record {
	margin: 0.5em 0 0.5em 0.5em;
}

#main div.recordblock div.publine.odd {
	background-color: #f7f7ff;
}
#main div.recordblock div.publine.even {
	background-color: #ffffff;
}

#main .annotationentry .notes {
	width: 5em;
}

#main .annotationentry .recordentry {
	width: auto;
	max-width: 75%;
}

#main .annotationentry .recordentry .subrecordentry {
	width: 80%;
}

#main #selectheader {
	float: left;
	height: 1em;
	padding: 0 0 1em;
}

#main textarea {
	min-width: 100%;
	min-height: 4em;
}

#main #selectheader h2 {
	margin: 0;
}

#main .previewitemlist {
	clear: both;
}

#main div.recordblock .inactive div.annotationentry,
#main div.recordblock .inactive a.linktobutton,
#main div.recordblock .inactive div.labelleft,
#main div.recordblock .inactive div.labelright {
	opacity: 0.60; filter: alpha(opacity=60);
}

html.js .recorddisplay {
	display: inline;
}

.recorddisplay {
	display: none;
}

#main div.recordblock .inactive .recorddisplay,
#main div.recordblock .inactive a.linktobutton {
	opacity: 1; filter: alpha(opacity=100);
}


#main div.publine {
	padding: 0 0.5em 0 0;
}

div.publine {
	display: inline-block;
	line-height: 1.3;
	margin: 0.2em 0.2em 0.2em 1em;
	min-height: 2em;
	width: 98%;
}

div.publine:hover {
	background-color: #f0f0f0 !important;
}

div.publine + div.publine {
	border-top: 1px dotted #003399;
}
#main div.publine.inactive {
	/* background-color: hsl(0, 0%, 97%); */
	background-color: rgb(247, 247, 247);
}

#main div.publine.ui-select {
	/* background-color: #ABB1FC; */
	border-color: #66928B;
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	box-shadow: 1px 1px 3px 1px #99B7B1;
	margin-top: 0;
	margin-bottom: 0;
}

#main div.publine.ui-select:hover {
	/* background-color: #DEDFFD !important; */
}

#dialog-form ul.notes {
	list-style: none outside none;
	padding: 0.5em 0 0 0.5em;
	margin: 0;
}

#dialog-form ul.notes li {
	float: left;   /* this doesn't need to be floated, it could instead be display:inline-block;  beware of trouble that floats can cause. */
	margin: 0.2em 0;
	width: 30%;
}

#dialog-form ul.notes li div.ui-state-default {
	float: left;
	height: 16px;
	width: 16px;
	margin: 0 0.2em 0 0;
}

#main #addnotations,
#main #clearnotations {
	margin-right: 4px;
}

#popup-form .mivDialog {
	margin: 0.4em 0.5em;
	min-width: 38em;
	padding: 0.2em 0 0.75em 0.75em;
}

/* .notes input {
	pointer-events: none;
} */

#popup-form {
	min-height: 10em;
	min-width: 40em;
	padding: 0.75em 0;
}

#main form[name="AnnotationLineForm"] .buttonset > input {
	margin-right: 0.2em;
}

#popup-form .notationform ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

#popup-form .notationform ul li {
	margin-left: 2em;
	padding: 0.1em;
}



/*
 * Everything below is for the pop-up notation dialog.
 */

/* Looking for a good blue linear gradient.
   That grey titlebar on dimmed background just doesn't look good. *
body .ui-widget-header {
	background: #d0e4f7; /* Old browsers * /
	background: -ms-linear-gradient(top, #d0e4f7 0%,#82b9e5 15%,#4392d3 50%,#539fe1 79%,#87bcea 100%); /* IE10+ * /
	background: linear-gradient(to bottom, #d0e4f7 0%,#82b9e5 15%,#4392d3 50%,#539fe1 79%,#87bcea 100%); /* W3C * /
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 * /
}
*/
.nota {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}
.nota > ul:after {
	content: '';
	display: block;
	margin: 0;
	padding: 0;
}
.nota, .nota > ul, .nota > ul:after {
	position: relative;
	top: 0;
	left: 0;
	width: 99%;
	z-index: 0;
}
.nota > ul:after {
	position: absolute;
	height: 100%;
	opacity: 0.0;
	border: 1px dotted red;
}

body.packet #master_nota.nota > ul:after,
body.master #packet_nota.nota > ul:after {
	z-index: 1;
	background-color: #f0f0f0;
	opacity: 0.4;
}
body.packet #packet_nota.nota > ul:after,
body.master #master_nota.nota > ul:after {
	z-index: -1;
}


body.master #packet_nota.nota:hover > ul:after {
	/*
	    unicode content \0000a0 (six hex digits) is a non-breaking space,
	    to make sure "Packet specific annotations" wraps all together, rather than orphaning "annotations" on a line by itself.
	    Often the shortest prefix to define the char is fine - e.g. \00a0 - but here the 'a' in "annoations" is also valid,
	    making the string be interpreted as \00a0a. Putting in all 6 digits prevents that from happening.
	*/
	content: 'These notations are available only for\0000a0Packet\0000a0specific\0000a0annotations.';
	box-sizing: border-box;
	padding-left: 1em;
	opacity: 0.90;
	font-weight: bold;
}
body.packet #master_nota.nota:hover > ul:after {
	content: 'These notations are available only for\0000a0Master\0000a0annotations.';
	box-sizing: border-box;
	padding-left: 1em;
	opacity: 0.90;
	font-weight: bold;
}


/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */
