/*
 * Styles for Appointment Module
 */
 
@CHARSET "UTF-8";

#main .mivDialog {
    width: 85em;
}

#main div.header {
    background: transparent;
    width: 98%;
}

#main .close {
    float: right;
}

#main .appointee {
    margin: 1em;
}

#main .formlines {
    height: 1.75em;
    margin-bottom: 1em;
}

#main .inline-formline {
    float: left;
    margin-right: 1em;
}

#main div.title-block {
    border-bottom: 1px solid #999999;
    padding: 1em 0.5em 0;
}

#main div.header {
    border-bottom: 1px solid #999999;
    padding-top: 1em;
}

#main div.department-block {
    border-bottom: 1px solid #999999;
    padding-bottom: 0.5em;
}

#main div.appointee-info-block {
    border-bottom: 1px solid #999999;
    margin-bottom: 0.5em;
    padding-bottom: 1em;
}

#main div.appointee-info-block input {
    margin: 0 0.5em 0 0.25em;
}

#main ul.questions {
    list-style: decimal outside none;
}

#main .appointee-info.active {
    border: thin solid #444444;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 1em;
    padding: 0.5em 1em;
}

#main ul.questions li {
    font-weight: bold;
    margin-bottom: 0.75em;
}

#main ul.questions li>* {
    font-weight: normal;
}

#main div.question-block {
    
}

#main div.answers-block {
    
}

.goodbye {
    color: #335379;
    font-size: 4em;
    text-align: center;
}

.title-blocks {
    margin-left: 2em;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

#main #present {
    width: 49%;
    float: left;
    margin-right: 1em;
}

#main #proposed {
    width: 49%;
    float: right;
}

#main #proposed.full {
    width: 99%;
}

html.js div.mivDialog fieldset.collapsed legend {
    background: none repeat scroll 0 0 transparent;
    padding: 0 0.5em;
}