/* ----- Style sheet for Creative Activities ----- */
@CHARSET "UTF-8";

#main .mivDialog {
	width: 65em;
}

#association iframe {
	height: 26em;
	min-width: 55em;
	overflow: auto;
	width: 63.5em;
}

div.mivDialog fieldset {
	margin: 0 0 1em;
	padding: 0.35em 0 0 0.5625em;
	border-radius: 4px 4px 4px 4px;
}

div.mivDialog fieldset legend,
div.mivDialog fieldset.collapsed legend {
	background-position: 98% 50%;
}

div.mivDialog fieldset.collapsed div.hint {
	padding: 0 1em 0.3em 0;
}

#mivtabs {
	margin: 0 0 1em;
}

#mivtabs ul li {
	background-color: transparent;
	border: 1px solid #444444;
	margin: 0 2px 1px 0;
	padding: 0;
}

#mivtabs ul li .ui-tabs-selected {
	margin: 0 2px 1px 0;
}

#mivtabs ul {
	margin: 0 0;
}

#mivtabs.ui-widget-content {
	background: none repeat scroll 0 50% transparent;
	border: thin solid #444444;
}


#mivtabs ul.ui-widget-header {
	/* background: none repeat scroll 0 50% transparent; */
}

#mivtabs ul li.ui-state-active {
	border-bottom: 1px solid #F2EBCC;
	margin: 0 2px 1px 0;
}

#mivtabs .ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.9em;
}

#mivtabs li .ui-state-active ,#mivtabs  .ui-state-active a, #mivtabs  .ui-state-active a:link, #mivtabs .ui-state-active a:visited
{
	color: #660000;
	font-size: 1em;
	font-weight: bold;
}

#mivtabs .ui-tabs-panel {
	font-size: 115%;
	padding: 1.4em 1em 0.5em;
}

div.mivDialog .frameset {
	border: 1px solid #444444;
	border-radius: 4px 4px 4px 4px;
	margin: 0 0 1em;
	padding: 1em 0 0 0.5em;
}
/* This isn't used now (2012-05-14) and could be dropped, but leaving it in for the moment. In any case, this had more rules than necessary. */
#mivtabs .tabhelp {
	/*background-image: url("/miv/images/help.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;*/
	color: #660000;
	/*cursor: help;*/
	float: right;
	/*font-size: 100%;*/
	margin: 0.3em 0.5em 0;
	padding: 0.2em 0.5em 0.7em 2.1em;
	/*text-align: center;
	text-decoration: underline;*/
}
/* Keep complex widgets hidden before they're rendered */
html.js .pre-render {
	display: none;
}

label[for="regular_event_div"],
label[for="publication_event_div"]
{
	padding-bottom: 0.5em;
}

html.js #main .associationbuttons {
	display: block;
}

#main .associationbuttons {
	display: none;
}

/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */
