/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.dataTables_wrapper .ui-helper-hidden { display: none; }
.dataTables_wrapper .ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.dataTables_wrapper .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.dataTables_wrapper .ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.dataTables_wrapper .ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .dataTables_wrapper .ui-helper-clearfix { height:1%; }
.dataTables_wrapper .ui-helper-clearfix { display:block; }
/* end clearfix */
.dataTables_wrapper .ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.dataTables_wrapper .ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.dataTables_wrapper .ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.dataTables_wrapper .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/


/* Component containers
----------------------------------*/
.dataTables_wrapper .ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; }
.dataTables_wrapper .ui-widget input, .dataTables_wrapper .ui-widget select, .dataTables_wrapper .ui-widget textarea, .dataTables_wrapper .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }
.dataTables_wrapper .ui-widget-content { border: 1px solid #d9d6c4; background: #eceadf url(/miv/images/jquery-ui/ui-bg_fine-grain_10_eceadf_60x60.png) 50% 50% repeat; color: #1f1f1f; }
.dataTables_wrapper .ui-widget-content a { color: #1f1f1f; }
.dataTables_wrapper .ui-widget-header { border: 1px solid #d4d1bf; background: #ffffff url(/miv/images/jquery-ui/ui-bg_fine-grain_15_ffffff_60x60.png) 50% 50% repeat; color: #453821; font-weight: bold; }
.dataTables_wrapper .ui-widget-header a { color: #453821; }

/* Interaction states
----------------------------------*/
.dataTables_wrapper .ui-state-default, .dataTables_wrapper .ui-widget-content .ui-state-default { border: 1px solid #cbc7bd; background: #f8f7f6 url(/miv/images/jquery-ui/ui-bg_fine-grain_10_f8f7f6_60x60.png) 50% 50% repeat; font-weight: bold; color: #654b24; outline: none; }
.dataTables_wrapper .ui-state-default a, .dataTables_wrapper .ui-state-default a:link, .dataTables_wrapper .ui-state-default a:visited { color: #654b24; text-decoration: none; outline: none; }
.dataTables_wrapper .ui-state-hover, .dataTables_wrapper .ui-widget-content .ui-state-hover, .dataTables_wrapper .ui-state-focus, .dataTables_wrapper .ui-widget-content .ui-state-focus { border: 1px solid #654b24; background: #654b24 url(/miv/images/jquery-ui/ui-bg_fine-grain_65_654b24_60x60.png) 50% 50% repeat; font-weight: bold; color: #ffffff; outline: none; }
.dataTables_wrapper .ui-state-hover a, .dataTables_wrapper .ui-state-hover a:hover, .dataTables_wrapper .ui-state-hover a:focus { color: #ffffff; text-decoration: none; outline: none; }
.dataTables_wrapper .ui-state-active, .dataTables_wrapper .ui-widget-content .ui-state-active { border: 1px solid #d9d6c4; background: #eceadf url(/miv/images/jquery-ui/ui-bg_fine-grain_15_eceadf_60x60.png) 50% 50% repeat; font-weight: bold; color: #140f06; outline: none; }
.dataTables_wrapper .ui-state-active a, .dataTables_wrapper .ui-state-active a:link, .dataTables_wrapper .ui-state-active a:visited { color: #140f06; outline: none; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.dataTables_wrapper .ui-state-highlight, .dataTables_wrapper .ui-widget-content .ui-state-highlight {border: 1px solid #b2a266; background: #f7f3de url(/miv/images/jquery-ui/ui-bg_fine-grain_15_f7f3de_60x60.png) 50% 50% repeat; color: #3a3427; }
.dataTables_wrapper .ui-state-highlight a, .dataTables_wrapper .ui-widget-content .ui-state-highlight a { color: #3a3427; }
.dataTables_wrapper .ui-state-error, .dataTables_wrapper .ui-widget-content .ui-state-error {border: 1px solid #681818; background: #b83400 url(/miv/images/jquery-ui/ui-bg_fine-grain_68_b83400_60x60.png) 50% 50% repeat; color: #ffffff; }
.dataTables_wrapper .ui-state-error a, .dataTables_wrapper .ui-widget-content .ui-state-error a { color: #ffffff; }
.dataTables_wrapper .ui-state-error-text, .dataTables_wrapper .ui-widget-content .ui-state-error-text { color: #ffffff; }
.dataTables_wrapper .ui-state-disabled, .dataTables_wrapper .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.dataTables_wrapper .ui-priority-primary, .dataTables_wrapper .ui-widget-content .ui-priority-primary { font-weight: bold; }
.dataTables_wrapper .ui-priority-secondary, .dataTables_wrapper .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }

/* Icons
----------------------------------*/

/* states and /miv/images/jquery-ui */
.dataTables_wrapper .ui-icon { width: 16px; height: 16px; background-image: url(/miv/images/jquery-ui/ui-icons_222222_256x240.png); }
.dataTables_wrapper .ui-widget-content .ui-icon {background-image: url(/miv/images/jquery-ui/ui-icons_222222_256x240.png); }
.dataTables_wrapper .ui-widget-header .ui-icon {background-image: url(/miv/images/jquery-ui/ui-icons_b83400_256x240.png); }
.dataTables_wrapper .ui-state-default .ui-icon { background-image: url(/miv/images/jquery-ui/ui-icons_b83400_256x240.png); }
.dataTables_wrapper .ui-state-hover .ui-icon, .dataTables_wrapper .ui-state-focus .ui-icon {background-image: url(/miv/images/jquery-ui/ui-icons_ffffff_256x240.png); }
.dataTables_wrapper .ui-state-active .ui-icon {background-image: url(/miv/images/jquery-ui/ui-icons_8c291d_256x240.png); }
.dataTables_wrapper .ui-state-highlight .ui-icon {background-image: url(/miv/images/jquery-ui/ui-icons_3572ac_256x240.png); }
.dataTables_wrapper .ui-state-error .ui-icon, .dataTables_wrapper .ui-state-error-text .ui-icon {background-image: url(/miv/images/jquery-ui/ui-icons_fbdb93_256x240.png); }

/* positioning */
.dataTables_wrapper .ui-icon-carat-1-n { background-position: 0 0; }
.dataTables_wrapper .ui-icon-carat-1-ne { background-position: -16px 0; }
.dataTables_wrapper .ui-icon-carat-1-e { background-position: -32px 0; }
.dataTables_wrapper .ui-icon-carat-1-se { background-position: -48px 0; }
.dataTables_wrapper .ui-icon-carat-1-s { background-position: -64px 0; }
.dataTables_wrapper .ui-icon-carat-1-sw { background-position: -80px 0; }
.dataTables_wrapper .ui-icon-carat-1-w { background-position: -96px 0; }
.dataTables_wrapper .ui-icon-carat-1-nw { background-position: -112px 0; }
.dataTables_wrapper .ui-icon-carat-2-n-s { background-position: -128px 0; }
.dataTables_wrapper .ui-icon-carat-2-e-w { background-position: -144px 0; }
.dataTables_wrapper .ui-icon-triangle-1-n { background-position: 0 -16px; }
.dataTables_wrapper .ui-icon-triangle-1-ne { background-position: -16px -16px; }
.dataTables_wrapper .ui-icon-triangle-1-e { background-position: -32px -16px; }
.dataTables_wrapper .ui-icon-triangle-1-se { background-position: -48px -16px; }
.dataTables_wrapper .ui-icon-triangle-1-s { background-position: -64px -16px; }
.dataTables_wrapper .ui-icon-triangle-1-sw { background-position: -80px -16px; }
.dataTables_wrapper .ui-icon-triangle-1-w { background-position: -96px -16px; }
.dataTables_wrapper .ui-icon-triangle-1-nw { background-position: -112px -16px; }
.dataTables_wrapper .ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.dataTables_wrapper .ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.dataTables_wrapper .ui-icon-arrow-1-n { background-position: 0 -32px; }
.dataTables_wrapper .ui-icon-arrow-1-ne { background-position: -16px -32px; }
.dataTables_wrapper .ui-icon-arrow-1-e { background-position: -32px -32px; }
.dataTables_wrapper .ui-icon-arrow-1-se { background-position: -48px -32px; }
.dataTables_wrapper .ui-icon-arrow-1-s { background-position: -64px -32px; }
.dataTables_wrapper .ui-icon-arrow-1-sw { background-position: -80px -32px; }
.dataTables_wrapper .ui-icon-arrow-1-w { background-position: -96px -32px; }
.dataTables_wrapper .ui-icon-arrow-1-nw { background-position: -112px -32px; }
.dataTables_wrapper .ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.dataTables_wrapper .ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.dataTables_wrapper .ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.dataTables_wrapper .ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.dataTables_wrapper .ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.dataTables_wrapper .ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.dataTables_wrapper .ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.dataTables_wrapper .ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.dataTables_wrapper .ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.dataTables_wrapper .ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.dataTables_wrapper .ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.dataTables_wrapper .ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.dataTables_wrapper .ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.dataTables_wrapper .ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.dataTables_wrapper .ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.dataTables_wrapper .ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.dataTables_wrapper .ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.dataTables_wrapper .ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.dataTables_wrapper .ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.dataTables_wrapper .ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.dataTables_wrapper .ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.dataTables_wrapper .ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.dataTables_wrapper .ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.dataTables_wrapper .ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.dataTables_wrapper .ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.dataTables_wrapper .ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.dataTables_wrapper .ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.dataTables_wrapper .ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.dataTables_wrapper .ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.dataTables_wrapper .ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.dataTables_wrapper .ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.dataTables_wrapper .ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.dataTables_wrapper .ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.dataTables_wrapper .ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.dataTables_wrapper .ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.dataTables_wrapper .ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.dataTables_wrapper .ui-icon-arrow-4 { background-position: 0 -80px; }
.dataTables_wrapper .ui-icon-arrow-4-diag { background-position: -16px -80px; }
.dataTables_wrapper .ui-icon-extlink { background-position: -32px -80px; }
.dataTables_wrapper .ui-icon-newwin { background-position: -48px -80px; }
.dataTables_wrapper .ui-icon-refresh { background-position: -64px -80px; }
.dataTables_wrapper .ui-icon-shuffle { background-position: -80px -80px; }
.dataTables_wrapper .ui-icon-transfer-e-w { background-position: -96px -80px; }
.dataTables_wrapper .ui-icon-transferthick-e-w { background-position: -112px -80px; }
.dataTables_wrapper .ui-icon-folder-collapsed { background-position: 0 -96px; }
.dataTables_wrapper .ui-icon-folder-open { background-position: -16px -96px; }
.dataTables_wrapper .ui-icon-document { background-position: -32px -96px; }
.dataTables_wrapper .ui-icon-document-b { background-position: -48px -96px; }
.dataTables_wrapper .ui-icon-note { background-position: -64px -96px; }
.dataTables_wrapper .ui-icon-mail-closed { background-position: -80px -96px; }
.dataTables_wrapper .ui-icon-mail-open { background-position: -96px -96px; }
.dataTables_wrapper .ui-icon-suitcase { background-position: -112px -96px; }
.dataTables_wrapper .ui-icon-comment { background-position: -128px -96px; }
.dataTables_wrapper .ui-icon-person { background-position: -144px -96px; }
.dataTables_wrapper .ui-icon-print { background-position: -160px -96px; }
.dataTables_wrapper .ui-icon-trash { background-position: -176px -96px; }
.dataTables_wrapper .ui-icon-locked { background-position: -192px -96px; }
.dataTables_wrapper .ui-icon-unlocked { background-position: -208px -96px; }
.dataTables_wrapper .ui-icon-bookmark { background-position: -224px -96px; }
.dataTables_wrapper .ui-icon-tag { background-position: -240px -96px; }
.dataTables_wrapper .ui-icon-home { background-position: 0 -112px; }
.dataTables_wrapper .ui-icon-flag { background-position: -16px -112px; }
.dataTables_wrapper .ui-icon-calendar { background-position: -32px -112px; }
.dataTables_wrapper .ui-icon-cart { background-position: -48px -112px; }
.dataTables_wrapper .ui-icon-pencil { background-position: -64px -112px; }
.dataTables_wrapper .ui-icon-clock { background-position: -80px -112px; }
.dataTables_wrapper .ui-icon-disk { background-position: -96px -112px; }
.dataTables_wrapper .ui-icon-calculator { background-position: -112px -112px; }
.dataTables_wrapper .ui-icon-zoomin { background-position: -128px -112px; }
.dataTables_wrapper .ui-icon-zoomout { background-position: -144px -112px; }
.dataTables_wrapper .ui-icon-search { background-position: -160px -112px; }
.dataTables_wrapper .ui-icon-wrench { background-position: -176px -112px; }
.dataTables_wrapper .ui-icon-gear { background-position: -192px -112px; }
.dataTables_wrapper .ui-icon-heart { background-position: -208px -112px; }
.dataTables_wrapper .ui-icon-star { background-position: -224px -112px; }
.dataTables_wrapper .ui-icon-link { background-position: -240px -112px; }
.dataTables_wrapper .ui-icon-cancel { background-position: 0 -128px; }
.dataTables_wrapper .ui-icon-plus { background-position: -16px -128px; }
.dataTables_wrapper .ui-icon-plusthick { background-position: -32px -128px; }
.dataTables_wrapper .ui-icon-minus { background-position: -48px -128px; }
.dataTables_wrapper .ui-icon-minusthick { background-position: -64px -128px; }
.dataTables_wrapper .ui-icon-close { background-position: -80px -128px; }
.dataTables_wrapper .ui-icon-closethick { background-position: -96px -128px; }
.dataTables_wrapper .ui-icon-key { background-position: -112px -128px; }
.dataTables_wrapper .ui-icon-lightbulb { background-position: -128px -128px; }
.dataTables_wrapper .ui-icon-scissors { background-position: -144px -128px; }
.dataTables_wrapper .ui-icon-clipboard { background-position: -160px -128px; }
.dataTables_wrapper .ui-icon-copy { background-position: -176px -128px; }
.dataTables_wrapper .ui-icon-contact { background-position: -192px -128px; }
.dataTables_wrapper .ui-icon-image { background-position: -208px -128px; }
.dataTables_wrapper .ui-icon-video { background-position: -224px -128px; }
.dataTables_wrapper .ui-icon-script { background-position: -240px -128px; }
.dataTables_wrapper .ui-icon-alert { background-position: 0 -144px; }
.dataTables_wrapper .ui-icon-info { background-position: -16px -144px; }
.dataTables_wrapper .ui-icon-notice { background-position: -32px -144px; }
.dataTables_wrapper .ui-icon-help { background-position: -48px -144px; }
.dataTables_wrapper .ui-icon-check { background-position: -64px -144px; }
.dataTables_wrapper .ui-icon-bullet { background-position: -80px -144px; }
.dataTables_wrapper .ui-icon-radio-off { background-position: -96px -144px; }
.dataTables_wrapper .ui-icon-radio-on { background-position: -112px -144px; }
.dataTables_wrapper .ui-icon-pin-w { background-position: -128px -144px; }
.dataTables_wrapper .ui-icon-pin-s { background-position: -144px -144px; }
.dataTables_wrapper .ui-icon-play { background-position: 0 -160px; }
.dataTables_wrapper .ui-icon-pause { background-position: -16px -160px; }
.dataTables_wrapper .ui-icon-seek-next { background-position: -32px -160px; }
.dataTables_wrapper .ui-icon-seek-prev { background-position: -48px -160px; }
.dataTables_wrapper .ui-icon-seek-end { background-position: -64px -160px; }
.dataTables_wrapper .ui-icon-seek-first { background-position: -80px -160px; }
.dataTables_wrapper .ui-icon-stop { background-position: -96px -160px; }
.dataTables_wrapper .ui-icon-eject { background-position: -112px -160px; }
.dataTables_wrapper .ui-icon-volume-off { background-position: -128px -160px; }
.dataTables_wrapper .ui-icon-volume-on { background-position: -144px -160px; }
.dataTables_wrapper .ui-icon-power { background-position: 0 -176px; }
.dataTables_wrapper .ui-icon-signal-diag { background-position: -16px -176px; }
.dataTables_wrapper .ui-icon-signal { background-position: -32px -176px; }
.dataTables_wrapper .ui-icon-battery-0 { background-position: -48px -176px; }
.dataTables_wrapper .ui-icon-battery-1 { background-position: -64px -176px; }
.dataTables_wrapper .ui-icon-battery-2 { background-position: -80px -176px; }
.dataTables_wrapper .ui-icon-battery-3 { background-position: -96px -176px; }
.dataTables_wrapper .ui-icon-circle-plus { background-position: 0 -192px; }
.dataTables_wrapper .ui-icon-circle-minus { background-position: -16px -192px; }
.dataTables_wrapper .ui-icon-circle-close { background-position: -32px -192px; }
.dataTables_wrapper .ui-icon-circle-triangle-e { background-position: -48px -192px; }
.dataTables_wrapper .ui-icon-circle-triangle-s { background-position: -64px -192px; }
.dataTables_wrapper .ui-icon-circle-triangle-w { background-position: -80px -192px; }
.dataTables_wrapper .ui-icon-circle-triangle-n { background-position: -96px -192px; }
.dataTables_wrapper .ui-icon-circle-arrow-e { background-position: -112px -192px; }
.dataTables_wrapper .ui-icon-circle-arrow-s { background-position: -128px -192px; }
.dataTables_wrapper .ui-icon-circle-arrow-w { background-position: -144px -192px; }
.dataTables_wrapper .ui-icon-circle-arrow-n { background-position: -160px -192px; }
.dataTables_wrapper .ui-icon-circle-zoomin { background-position: -176px -192px; }
.dataTables_wrapper .ui-icon-circle-zoomout { background-position: -192px -192px; }
.dataTables_wrapper .ui-icon-circle-check { background-position: -208px -192px; }
.dataTables_wrapper .ui-icon-circlesmall-plus { background-position: 0 -208px; }
.dataTables_wrapper .ui-icon-circlesmall-minus { background-position: -16px -208px; }
.dataTables_wrapper .ui-icon-circlesmall-close { background-position: -32px -208px; }
.dataTables_wrapper .ui-icon-squaresmall-plus { background-position: -48px -208px; }
.dataTables_wrapper .ui-icon-squaresmall-minus { background-position: -64px -208px; }
.dataTables_wrapper .ui-icon-squaresmall-close { background-position: -80px -208px; }
.dataTables_wrapper .ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.dataTables_wrapper .ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.dataTables_wrapper .ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.dataTables_wrapper .ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.dataTables_wrapper .ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.dataTables_wrapper .ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/*
 Standard properties should come last - after the vendor-prefix properties.
 See the article at http://css-tricks.com/ordering-css3-properties/
*/
/* Corner radius */
.dataTables_wrapper .ui-corner-tl {
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
}

.dataTables_wrapper .ui-corner-tr {
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
}

.dataTables_wrapper .ui-corner-bl {
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.dataTables_wrapper .ui-corner-br {
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.dataTables_wrapper .ui-corner-top {
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
}

.dataTables_wrapper .ui-corner-bottom {
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.dataTables_wrapper .ui-corner-right {
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.dataTables_wrapper .ui-corner-left {
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.dataTables_wrapper .ui-corner-all {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

/* Overlays */
.dataTables_wrapper .ui-widget-overlay { background: #000000 url(/miv/images/jquery-ui/ui-bg_diagonal-maze_20_6e4f1c_10x10.png) 50% 50% repeat; opacity: .40;filter:Alpha(Opacity=40); }
.dataTables_wrapper .ui-widget-shadow {
	margin: 0 0 0 -10px;
	padding: 5px;
	background: #000000
		url(/miv/images/jquery-ui/ui-bg_diagonal-maze_40_000000_10x10.png)
		50% 50% repeat;
	opacity: .60;
	filter: Alpha(Opacity = 60);
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
}

/* Accordion
----------------------------------*/
.dataTables_wrapper .ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.dataTables_wrapper .ui-accordion .ui-accordion-li-fix { display: inline; }
.dataTables_wrapper .ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.dataTables_wrapper .ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em 2.2em; }
.dataTables_wrapper .ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.dataTables_wrapper .ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; }
.dataTables_wrapper .ui-accordion .ui-accordion-content-active { display: block; }

/* Datepicker
----------------------------------*/
.dataTables_wrapper .ui-datepicker { width: 17em; padding: .2em .2em 0; }
.dataTables_wrapper .ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.dataTables_wrapper .ui-datepicker .ui-datepicker-prev, .dataTables_wrapper .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.dataTables_wrapper .ui-datepicker .ui-datepicker-prev-hover, .dataTables_wrapper .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.dataTables_wrapper .ui-datepicker .ui-datepicker-prev { left:2px; }
.dataTables_wrapper .ui-datepicker .ui-datepicker-next { right:2px; }
.dataTables_wrapper .ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.dataTables_wrapper .ui-datepicker .ui-datepicker-next-hover { right:1px; }
.dataTables_wrapper .ui-datepicker .ui-datepicker-prev span, .dataTables_wrapper .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.dataTables_wrapper .ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.dataTables_wrapper .ui-datepicker .ui-datepicker-title select { float:left; font-size:1em; margin:1px 0; }
.dataTables_wrapper .ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.dataTables_wrapper .ui-datepicker select.ui-datepicker-month, 
.dataTables_wrapper .ui-datepicker select.ui-datepicker-year { width: 49%;}
.dataTables_wrapper .ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; }
.dataTables_wrapper .ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.dataTables_wrapper .ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.dataTables_wrapper .ui-datepicker td { border: 0; padding: 1px; }
.dataTables_wrapper .ui-datepicker td span, .dataTables_wrapper .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.dataTables_wrapper .ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.dataTables_wrapper .ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.dataTables_wrapper .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.dataTables_wrapper .ui-datepicker.ui-datepicker-multi { width:auto; }
.dataTables_wrapper .ui-datepicker-multi .ui-datepicker-group { float:left; }
.dataTables_wrapper .ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.dataTables_wrapper .ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.dataTables_wrapper .ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.dataTables_wrapper .ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.dataTables_wrapper .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.dataTables_wrapper .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.dataTables_wrapper .ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.dataTables_wrapper .ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.dataTables_wrapper .ui-datepicker-rtl { direction: rtl; }
.dataTables_wrapper .ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.dataTables_wrapper .ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.dataTables_wrapper .ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.dataTables_wrapper .ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.dataTables_wrapper .ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.dataTables_wrapper .ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.dataTables_wrapper .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.dataTables_wrapper .ui-datepicker-rtl .ui-datepicker-group { float:right; }
.dataTables_wrapper .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.dataTables_wrapper .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.dataTables_wrapper .ui-datepicker-cover {
	display: none; /*sorry for IE5*/
	display/**/: block; /*sorry for IE5*/
	position: absolute; /*must have*/
	z-index: -1; /*must have*/
	filter: mask(); /*must have*/
	top: -4px; /*must have*/
	left: -4px; /*must have*/
	width: 200px; /*must have*/
	height: 200px; /*must have*/
}/* Dialog
----------------------------------*/
.dataTables_wrapper .ui-dialog { position: relative; padding: .2em; width: 300px; }
.dataTables_wrapper .ui-dialog .ui-dialog-titlebar { padding: .5em .3em .3em 1em; position: relative;  }
.dataTables_wrapper .ui-dialog .ui-dialog-title { float: left; margin: .1em 0 .2em; } 
.dataTables_wrapper .ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.dataTables_wrapper .ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.dataTables_wrapper .ui-dialog .ui-dialog-titlebar-close:hover, .dataTables_wrapper .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.dataTables_wrapper .ui-dialog .ui-dialog-content { border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.dataTables_wrapper .ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.dataTables_wrapper .ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.dataTables_wrapper .ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.dataTables_wrapper .ui-draggable .ui-dialog-titlebar { cursor: move; }
/* Progressbar
----------------------------------*/
.dataTables_wrapper .ui-progressbar { height:2em; text-align: left; }
.dataTables_wrapper .ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }/* Resizable
----------------------------------*/
.dataTables_wrapper .ui-resizable { position: relative;}
.dataTables_wrapper .ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.dataTables_wrapper .ui-resizable-disabled .ui-resizable-handle, .dataTables_wrapper .ui-resizable-autohide .ui-resizable-handle { display: none; }
.dataTables_wrapper .ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.dataTables_wrapper .ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.dataTables_wrapper .ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.dataTables_wrapper .ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.dataTables_wrapper .ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.dataTables_wrapper .ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.dataTables_wrapper .ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.dataTables_wrapper .ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/* Slider
----------------------------------*/
.dataTables_wrapper .ui-slider { position: relative; text-align: left; }
.dataTables_wrapper .ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.dataTables_wrapper .ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; }

.dataTables_wrapper .ui-slider-horizontal { height: .8em; }
.dataTables_wrapper .ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.dataTables_wrapper .ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.dataTables_wrapper .ui-slider-horizontal .ui-slider-range-min { left: 0; }
.dataTables_wrapper .ui-slider-horizontal .ui-slider-range-max { right: 0; }

.dataTables_wrapper .ui-slider-vertical { width: .8em; height: 100px; }
.dataTables_wrapper .ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.dataTables_wrapper .ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.dataTables_wrapper .ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.dataTables_wrapper .ui-slider-vertical .ui-slider-range-max { top: 0; }/* Tabs
----------------------------------*/
.dataTables_wrapper .ui-tabs { padding: .2em; zoom: 1; }
.dataTables_wrapper .ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0; }
.dataTables_wrapper .ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
.dataTables_wrapper .ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; }
.dataTables_wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; }
.dataTables_wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .dataTables_wrapper .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .dataTables_wrapper .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.dataTables_wrapper .ui-tabs .ui-tabs-nav li a, .dataTables_wrapper .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.dataTables_wrapper .ui-tabs .ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
.dataTables_wrapper .ui-tabs .ui-tabs-hide { display: none !important; }
