legend, fieldset > div {
	float: left;
}

legend:after, label:after {
	content: ':';
}

legend, label {
	margin-right: .25em;
	font-weight: bold;
}

/* Dagger for Comments label */
label[for=decision\.comments]:before {
    content:'\002020';
    margin-right: .5em;
}

fieldset label {
	font-weight: normal;
}

fieldset label:after {
	content: '';
}

fieldset #ifother {
	margin-left: 0.75em;
	margin-bottom: 10px;
}

#printpage {
    display: none;
}

/*
 * Left margin on print PDF button if following another button.
 */
button#printPdf {
    margin-right: 3em; 
}


/*
 * Decision type fieldset
 */
fieldset.decision {
	padding: 0;
	border: none;
	display: inline;
}
fieldset.decision > legend {
	display: none;
}
#main fieldset.decision ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#main fieldset.decision ul li {
	margin: 0;
	padding: 0;
}
