/*
 * Event Log style for /WEB-INF/jsp/report.jsp
 */

/* These grays were hard to read -- pick new styles when we have some real child events to look at.
tr.eventChild {
	background-color: #AAA;
}

tr.eventChild td.sorting_1 {
	background-color: #888;
}
*/

/**** Experiments on other ways to mark Child Event rows ****/

/* 1. Indent the first cell contents */
/*tr.eventChild > td:first-child:before {  // this just didn't work.
	content: "   ";
	background-color: #aaa;
}*/
table#report tr.eventChild > td:first-child {
	padding-left: 2em;
        background-color: white;
        background-color: hsl(210, 100%, 95%);
        background-color: hsl(237, 100%, 96%);
}
table#report tr.eventChild.even {
	background-color: hsl(210, 100%, 93%);
	background-color: hsl(49, 59%, 94%);
}
table#report tr.eventChild.odd {
	background-color: hsl(210, 70%, 87%);
	background-color: hsl(49, 40%, 91%);
}


#main td ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.scrollFixIt.ui-icon:focus,
.scrollFixIt.ui-icon:hover {
	background-image: url("/miv/images/jquery-ui/ui-icons_2694e8_256x240.png");
}


@media print {

	/* Make it obvious during testing: change the H1 heading to say Printing * /
	h1:before {
		content: "Printing: ";
	}*/

	div#mivheader,
	div#navbar,
	div#proxy,
	div#breadcrumbs,
	div#footer
	{
		display: none;
	}

	div#report_wrapper div.fg-toolbar {
		display: none;
	}

	div#main > h1,
	table#report.dataTable th {
		color: black;
	}

	/* Make sure the table fits within a printed page width. */
	div#report_wrapper.dataTables_wrapper > table#report.dataTable {
		max-width: 100%;
	}

	table#report {
		border: 1px solid #CBC7BD;
		page-break-inside: auto;
	}

	/* Restore the bottom border that data-table-gui removes. */
	table#report.dataTable > tbody > tr {
		border-bottom-width: 1px;
	}

	table#report > tbody > tr {
		page-break-inside: avoid;
		page-break-after: auto;
	}

	table#report > tfoot > tr.filterrow {
		display: none;
	}

	tr.eventChild {
		background-color: transparent;
	}

	tr.eventChild td.sorting_1 {
		background-color: transparent;
	}

}
/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */

