/*
 * Style for executive.jsp
 */


/*
 * field labels
 */
label {
	font-weight: bold;
}
label:after, th:after {
	content: ":";
}

/*
 * Confirmation table
 */
caption {
	margin: 0.5em 0;
	white-space: nowrap;
}
th {
	text-align: right;
	padding-right: 1em;
}