/* ----- Main FAQ Styles ----- */

/* ----------------- */
/*   Fancification   */
/*
#main div.faq {
	color: inherit;
	-moz-box-shadow: 3px 3px 15px #777;
	-webkit-box-shadow: 3px 3px 15px #777;
	box-shadow: 3px 3px 15px #777;
	padding: 1.5ex;
	border-top: 4ex solid #e7e7e7;
}
.faq + .faq {
	margin-top: 4ex;
}
*/
/* ----------------- */

#main div.faq h2 {
	font-weight: bold;
	font-size: 100%;
	color: inherit;
}
#main div.faq h3 {
	font-weight: bold;
	font-size: 100%;
	color: inherit;
}

/*.faq + .faq {
	border-top: 4ex solid #e7e7e7;
}*/
.faq {
	border-top: 2ex solid #e7e7e7;
}

.faq .question .marker {
	font-weight: bold;
}

.faq .answer .marker {
	font-weight: bold;
}

.faq .question:before {
	content: "Q:";
	font-weight: bold;
}

.faq .answer:before {
	content: "A:";
	font-weight: bold;
}

#main .faq ol {
	padding-left: 3.5em;
}

/* Keep list lines from getting too long.
 * Paragraphs are also too long (wide) but
 * applying this limit to them made things
 * look funny.
 */
.faq ul/*, .faq p*/ {
	max-width: 60em;
}
#main .faq li {
	margin-top: 0;
	margin-bottom: 0.9ex;
}

/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */

