/* Now we only include this on pages that use ie8hacks */
input.fake {
	display: none;
}

.addeditbutton {
	margin-right: 50px;
}

/*
 * IE 8 doesn't support CSS3 columns, so floating
 * the biosketch list items with a specified width
 * will form columns of that width
 */
#main .biosketchlist li,
#main .biosketchlist input,
#main .biosketchlist label {
	float: left;
}
#main .biosketchlist label {
	width: 20em;
}

#main #checklist {
	display: inline-block;
}

#main table.display tfoot th input[type="text"],
#main div.dataTables_filter .inputtext input {
	padding-left: 2px;
	padding-top: 3px;
	height: 1.5em;
	overflow: hidden;
}

#main div.dataTables_paginate .ui-state-disabled {
	color: #9D9D9D;
}

a.linktobutton {
	padding: 3px 5px 4px 5px;
	font-size: 0.89em;
}

/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */
