/* This CSS is specific for IE 7 and lower */

/* Avoid the "em font-resizing bug" in IE7 */
/*  Proposed addition, but not tested yet. Uncomment later to test.
* html {
	font-size: 100%;
}
body {
	font-size: 80%;
}
*/


/* The font in Textarea <textarea> controls is too small in IE */
.mivdata textarea {
	font-size: 120% !important;
}


div.sectionbody ul.mivrecords {
	padding-left: 0;
	margin-top: -1.2em !important;
}

#navbar {
	min-width:68em;
}

#mivheader {
	min-width:61em;
}

#footer {
	min-width:75em;
}

div.sectionsubhead {
	clear: both;
	background-color: transparent;
	padding-left: 0.3em;
	padding-bottom: 10px;
}

div.sectionhead {
	clear: both;
	background-color: #f2ebcc;
	border-bottom: 1px dotted #039;
	padding-left: 0.5em;
	padding-bottom: 10px;
}

div.clearboth {
	height: 2.5px;
}

/* added for dossierAction.css override in IE7 */

div.deletebuttons {
	display: inline;
	position: relative;
}

div.addedit {
	display: inline;
}
.addeditbutton {
	margin-right: 50px;
}


span.annotationMarker {
	//vertical-align: super;
	font-size: 85%;
	margin-top: -1.4em;
	margin-left: 1em;
}

input.fake {
	display: none;
}

/* FIXME: why? */
#formatOptions table.noborder td {
	text-align: left; /* redundant? the standard rule in mivEnterData already aligns left. */
	width: 100ex !important;
}

div.loading {
	display: block;
	color:#909090;
	font-family: Courier New,Courier,monospace;
	font-weight: bold;
	font-size: 170%;
	letter-spacing:0.3em;
	margin-left: auto;
	margin-right: auto;
	width: 10em;
	background-color: #fff;
	height: 2.8em;
	padding: 1.6em 0 0 1em;
	z-index: 600;
	position: relative;
	border: 1px solid #ccc;
}

/* IE blows z-order, especially "auto", so force the menubar (and thus the menus) to be higher than the Dijit field validation error tooltips */
div#navbar {
	z-index: 2;
}
/* Because we had to move the navbar up the stack, we have to move the completed message in front of it */
div#CompletedMessage {
	z-index: 3;
}

/* IE before 8 colors the background AROUND a checkbox or radio button wrong. Force it to match the data entry background color */
.mivdata input[type="radio"], .mivdata input[type="checkbox"] {
	background-color: #f2ebcc !important;
}

/* IE puts too much space to the right of a checkbox, so give our format labels some negative margin */
#formatOptions .formatbold label {
	margin-left: -0.3em;
}
#formatOptions .formatitalic label {
	margin-left: -0.3em;
}
#formatOptions .formatunderline label {
	margin-left: -0.3em;
}

/* FIXME: Why the negative margin for IE here? */
fieldset.mivfieldset {
	margin-top:-1em;
}

/* A fieldset within a fieldset in IE7 can't have the same margin adjustments as a plain fieldset. Used for the Edit Group page. */
fieldset fieldset.mivfieldset {
	margin-top: 0;
}
fieldset fieldset.mivfieldset legend {
	margin-left: 0;
}

/* manage users */
div.formlineleftpatop {
	float: left;
	margin-right: 1em;
	padding-top: -0.08em;
	margin-top: -0.02em;
}
div.formlinetop {
	position: relative;
	top: 0.26em;
	padding-top: 0.06em;
}

#mivheader #ucdlogosmall {
	background: url("/miv/images/ucdLogoSmall.gif");
	font-size: 0;
	line-height: 0;
}

#mivheader #mivlogosmall {
	background: url("/miv/images/mivLogoSmall.gif");
	font-size: 0;
	line-height: 0;
}

/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */
