/* 
    Style sheet for myinfovault.ucdavis.edu 
    miv forms css rules
*/
@CHARSET "UTF-8";

.f_required:before {
	color: #D53344;
	content: "*";
	font-size: 1.5em;
	font-weight: bolder;
	line-height: 0.8em;
	margin-right: 0.5ex;
	vertical-align: middle;
}

#main div.formline {
	margin-bottom: 1em;
}

#main .formhelp {
	clear: both;
	color: #660000;
	font-size: 1.1em;
	font-style: italic;
	margin: 0.1em 0 1em;
}

#main .errorfield,#main .formline .errorfield {
	border: 1px solid #D53344;
}

#main .errorfield:focus,#main .formline .errorfield:focus {
	border: 2px solid #D53344;
}

/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */