/* ----- Main style sheet for myinfovault.ucdavis.edu pages ----- */
/*
    According to the UCDavis "Marketing Toolbox"
    http://marketingtoolbox.ucdavis.edu/identity-guide/fonts.html
    the recommended web fonts are --
        font-family: "Lucida Grande", "Lucida Sans", "Verdana", sans-serif;
*/
/*
 * Note CSS files are the one place we use tabs.
 * All indenting should be done with a single tab.
 * (Also note that a tab-indent is 8, not 4, characters)
 */

*:focus {
	outline: none;
}

body {
	background-color: #fff;
	color: #000;
	font-family: Verdana,Geneva,Helvetica,sans-serif;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	min-width: 50em;
}
html.SYS_ADMIN.prod body {
	background-color: #fff4f4;
}

#non-prod-warning {
	background-color: #B00; /* matches CAS */
	color: #FFFFFF;
	text-align: center;
	padding: 0.4em 0 0.4em 0;
	display: block;
}

#non-prod-warning p {
	margin: 0;
}

html.prod #non-prod-warning {
	display: none;
}

body.useiframes #non-prod-warning,
body.usepopups #non-prod-warning {
	display: none;
}

p {
	clear: both;
}

a:link {
	font-size: 100%;
	color: #0033ff;
	background-color: transparent;
	text-decoration: underline;
}

a:visited {
	font-size: 100%;
	color: #0033ff;
	background-color: transparent;
	text-decoration: underline;
}

a:hover, a:focus {
	font-size: 100%;
	color: #77160B;
	background-color: transparent;
	text-decoration: none;
}

a.logout:link {
	color: #77160B;
	background-color: transparent;
	font-size: 0.85em;
	font-weight: 900;
	padding: 0;
	float: right;
}

a.logout:visited {
	color: #77160B;
	background-color: transparent;
	padding: 0;
	float: right;
}

a.logout:hover, a.logout:focus {
	color: #77160B;
	background-color: transparent;
	text-decoration: none;
	padding: 0;
	float: right;
}

a.projectinfo:link {
	color: #77160B;
	background-color: transparent;
	font-size: 0.8em;
	font-weight: 900;
	padding: 0;
	float: right;
}

a.projectinfo:visited {
	color: #77160B;
	background-color: transparent;
	font-size: 0.8em;
	font-weight: 900;
	padding: 0;
	float: right;
}

a.projectinfo:hover, a.projectinfo:focus {
	color: #77160B;
	background-color: transparent;
	font-size: 0.8em;
	font-weight: 900;
	text-decoration: none;
	padding: 0;
	float: right;
}

.announcements {
	color: #667da3;
	background-color: transparent;
	font-size: 0.8em;
	padding-left: 1em;
}

.announcementsText {
	color: #000;
	background-color: transparent;
	font-size: 0.8em;
	padding-left: 1em;
}

.error {
	font-size: 150%;
	font-weight: 900;
	font-family: Verdana,Geneva,Helvetica,sans-serif;
	color: #FF0000;
	background-color: transparent;
}

.warning {
	margin: 0;
	padding: 0;
	font-size: 0.9em;
	color: #D53344;
}

.attention {
	color: #D53344 !important;
	font-size: 110%;
	font-weight: 900;
}

.helpExample {
	font-family: Courier New,Courier,monospace;
	margin: 0;
	padding: 0;
	font-size: 1.3em;
	color: #009900;
	display: inline;
}

.helplinks {
	margin-top: 0;
}


/* ----- Form divs ----- */

form {
	padding: 0;
	margin: 0;
}

span.small {
	font-size: 0.8em;
}

input, select, option {
	background-color: #FFFFFF;
	font-size: 100%;
}

/* ----- MIV header div ----- */

#navskip a, #navskip a:hover, #navskip a:visited {
	height: 1px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: -500px;
	width: 1px;
}

#navskip a:active, #navskip a:focus {
	background: none repeat scroll 0 0 #002666;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1em;
	height: auto;
	left: 0.2em;
	overflow: visible;
	position: absolute;
	top: 0;
	width: auto;
	z-index: 999;
	padding: 0.5em 1em;
}

#mivheader {
	padding-bottom: 3px;
	height: 52px;
	white-space: nowrap;
	min-width: 54em;
}

#mivheader #logos {
	background: url("../images/mivLogo.png") no-repeat;
	float: left;
	min-width: 20em;
	padding: 0.1em 0 0 4.75em;
	width: 52px;
}

#mivheader #links {
	float: right;
	min-width: 22em;
	padding-top: 1px;
	padding-right: 10px;
	width: 52px;
}

#mivheader #ucdlogosmall:before {
	content: url("../images/ucdLogoSmall.gif");
	font-size: 0;
	line-height: 0;
}

html.SYS_ADMIN.prod body #mivheader #ucdlogosmall:before {
	content: url("../images/ucdLogoSmall_prod.png");
}

#mivheader #ucdlogosmall {
	/*height: 21px; / * height of replacement image */
	/*width: 90px; / * width of replacement image */
	/* The actual dimensions of the image is 91px x 22px */
	height: 22px; /* height of replacement image */
	width: 91px; /* width of replacement image */
	padding: 0;
	margin: 0;
	cursor: pointer;
}

#mivheader #mivlogosmall {
	height: 32px; /* height of replacement image */
	width: 195px; /* width of replacement image */
	padding: 0.1em 0 0 0;
	margin: 0;
	cursor: pointer;
}

#mivheader #mivlogosmall:before {
	content: url("../images/mivLogoSmall.png");
	font-size: 0;
	line-height: 0;
}

#mivheader #logos img {
	border: 0;
	margin-left: 70px;
	display: block;
	padding-top: 0;
}

#mivheader #logos a {
	display: block;
	overflow: hidden;
}

#mivheader #logos a:before {
	display: inline-block;
	font-size: 0;
	line-height: 0;
}

#mivheader #logos #ucdlink {
	color: #C99700;
	font-size: 139%;
	font-weight: bold;
	height: 0;
	width: 5em;
}

#mivheader #logos #mivlink {
	border-bottom: 1px solid #C99700;
	border-top: 1px solid #C99700;
	color: #002855;
	font-size: 175%;
	font-weight: bold;
	height: 0.1em;
	width: 6em;
	padding: 0;
}

/* :hover hack for IE8 if no a:hover styles declared */
#mivheader #logos a:hover {
	cursor: pointer;
}

#mivheader #logos a:link, #mivheader #logos a:visited, #mivheader #logos a:hover, #mivheader #logos a:active
{
	text-decoration: none;
	border-color: transparent;
}

#mivheader #logos a:focus {
	border: 1px dotted #002855;
	text-decoration: none;
}


#mivheader #logout {
		padding-top: 5px;
		vertical-align: top;
		background-color: transparent;
		display: block;
	}

	#mivheader #admin {
		float: right;
		vertical-align: bottom;
		background-color: transparent;
		padding: 17px 0 0;
		white-space: nowrap;
		clear: right;
	}

	#mivheader #admin a:link {
		vertical-align: bottom;
		text-align: right;
		padding-top: 10px;
		color: #002666;
		background-color: transparent;
	}

	#mivheader #admin a:visited {
		vertical-align: bottom;
		text-align: right;
		padding-top: 10px;
		color: #002666;
		background-color: transparent;
	}

	#mivheader #admin a:hover, #mivheader #admin a:focus {
		vertical-align: bottom;
		text-align: right;
		padding-top: 10px;
		color: #77160B;
		background-color: transparent;
	}


/* ----- Help pages specific styles ----- */

/* HELP PAGE header div */

#helpnav {
	background: url("../images/mivLogoSmall.png") no-repeat;
	padding-bottom: 3px;
	height: 28px;
	white-space: nowrap;
	margin-bottom: 5px;
	background-color: transparent;
	border-bottom: 6px solid #DFCC80;
}
	#helpnav #logout {
		margin-top: 5px;
		padding-right: 10px;
	}

.complete {
	color: #339933;
}

.incomplete {
	color: #d53344;
	font-weight: 900;
}

/* Restore ordered-list indenting on help pages */
body.mivhelp #main ol {
	padding-left: 2.5em;
}
/* ----- End help styles ----- */

/* ----- Top Navbar divs ----- */

#navbar {
	clear: both;
	position: relative;
	height: 2.3em;
	color: #660000;
	background-color: #DFCC80;
	border-top: 1px dotted #660000;
	border-bottom: 1px dotted #660000;
	font-size: 0.9em;
	font-weight: 900;
	padding: 0 0 0 3px;
	margin: 0;
	display: block;
	white-space: nowrap !important;
	min-width:60em;
}
html.SYS_ADMIN.prod body #navbar {
	background-color: #ee9999;
}

#navbar #aboutmiv {
	font-style: italic;
	padding-left: 1em;
	padding-top: 0.5em;
}

#navbar .loginuser {
	float: right;
	margin-right: 1.4em;
	border-left: 2px solid #600;
	padding-left: 1em;
	margin-top: 5px;
}

#navbar #palette_button {
	float: right;
	margin-right: 1em;
	margin-top: 5px;
}

div.loading {
	display: none;
	color: #909090;
	font-family: Courier New,Courier,monospace;
	font-weight: bold;
	font-size: 170%;
	letter-spacing: 0.3em;
	margin-left: 35%;
	margin-right: auto;
	width: 10em;
	background-color: #fff;
	height: 2.8em;
	padding: 1.6em 0 0 1em;
	z-index: 600;
	position: fixed;
	border: 1px solid #ccc;
}

/* ----- Special Character Palette divs ----- */

#palette_button a, #palette_button a:visited, #palette_button a:active
{
	color: #77160B;
	background-color: #F2EBCC;
	border: #77160B solid 1px;
	font-size: 1.0em;
	font-weight: 900;
	text-decoration: none;
	padding: 1px;
	position: relative;
	cursor: default;
	cursor: pointer;
	cursor: not-allowed;
}

#palette_button a:hover, #palette_button a:focus {
	background-color: #CCD4E0;
}



/* Dropdown Menu */

#menu {
	float: left;
	min-width: 30em;
}

#menu a.menuheader, #menu a.menuheader:visited, #menu a.menuheader:active {
	background: url("../images/menuexpanddown.gif") no-repeat scroll 100% 50% transparent;
	display: block;
	height: 2.15em;
	margin: 0;
	padding: 0.1em 1em 0 0;
}

#menu a.menuheader:hover, #menu a.menuheader:focus {
	margin: 0;
}

#menu a, #menu a:visited, #menu a:active {
	font: normal 95%/220% Verdana,Geneva,Helvetica,sans-serif;
	display: block;
	border-top: none;
	margin: 0;
	padding: 0 5px 0 2px;
	color: #660000;
	background-color: #DFCC80;
	text-decoration: none;
	font-weight: 900;
	line-height: 2.0;
}
html.SYS_ADMIN.prod body #menu a,
html.SYS_ADMIN.prod body #menu a:visited,
html.SYS_ADMIN.prod body #menu a:active {
	background-color: #ee9999;
}

#menu a {
	background-color: transparent;
}

#menu a:hover, #menu a:focus {
	background-color: #F2EBCC;
}

html.SYS_ADMIN.prod body #menu a:hover, html.SYS_ADMIN.prod body #menu a:focus {
	background-color: #ffbbbb;
}

#menu ul {
	list-style: none;
	margin: 0 5px;
	padding: 0;
	float: left;
	width: auto;
}

#menu li {
	position: relative;
}

#menu ul ul {
	border-collapse: collapse;
	border-style: dotted;
	border-width: 1px;
	position: absolute;
	left: 0px;
	z-index: 500;
	top: auto;
	display: none;
	background-color: #DFCC80;
	min-width: 18em;
	margin: 0;
}

html.SYS_ADMIN.prod body #menu ul ul {
	background-color: #EE9999;
}

#menu ul ul ul {
	border-collapse: collapse;
	border-style: dotted;
	border-width: 1px;
	top: 0;
	margin: 1px 0 0 0;
	left: 100%;
}


/* Non-anchor hover selectors */
#menu ul li {
	background-color: #DFCC80;
}
html.SYS_ADMIN.prod body #menu ul li {
	background-color: #ee9999;
}

#menu ul li:hover, #menu ul li:focus {
	background-color: #F2EBCC;
}
html.SYS_ADMIN.prod body #menu ul li:hover, html.SYS_ADMIN.prod body #menu ul li:focus {
	background-color: #ffbbbb;
}
/* following the CSS cascade in firebug, it looks like
   this rule is never used. */
#menu ul ul li:hover,
#menu ul ul ul li:hover,
#menu ul ul li:focus,
#menu ul ul ul li:focus  {
	background-color: #F2EBCC;
}

html.SYS_ADMIN.prod body #menu ul ul li:hover,
html.SYS_ADMIN.prod body #menu ul ul ul li:hover,
html.SYS_ADMIN.prod body #menu ul ul li:focus,
html.SYS_ADMIN.prod body #menu ul ul ul li:focus {
	background-color: #ffbbbb;
}

div#menu li:hover, div#menu li:focus {
	cursor: pointer;
	z-index: 100;
}

/* This prevents sub-sub-menus of the hovered item from popping open along with the ul that we *do* want to display. */
div#menu li.hover ul ul,
div#menu li li.hover ul ul,
div#menu li li li.hover ul ul,
div#menu li li li li.hover ul ul,
div#menu li:hover ul ul,
div#menu li li:hover ul ul,
div#menu li li li:hover ul ul,
div#menu li li li li:hover ul ul,
div#menu li.focus ul ul,
div#menu li li.focus ul ul,
div#menu li li li.focus ul ul,
div#menu li li li li.focus ul ul,
div#menu li:focus ul ul,
div#menu li li:focus ul ul,
div#menu li li li:focus ul ul,
div#menu li li li li:focus ul ul {
	display: none;
}

/*
When the anchor in a menu list-item is focused, set the sibling ul to display:block
This makes the sub-menu appear when you tab to the top-level menu item.
This is just a basic test, and needs more work to get all sub-levels to work.
div#navbar div#menu > ul li > a:focus + ul,
*/
div#menu li.hover ul,
div#menu li li.hover ul,
div#menu li li li.hover ul,
div#menu li li li li.hover ul,
div#menu li:hover ul,
div#menu li li:hover ul,
div#menu li li li:hover ul,
div#menu li li li li:hover ul,
div#menu li.focus ul,
div#menu li li.focus ul,
div#menu li li li.focus ul,
div#menu li li li li.focus ul,
div#menu li:focus ul,
div#menu li li:focus ul,
div#menu li li li:focus ul,
div#menu li li li li:focus ul {
	display: block;
}

div#menu > ul > li:hover > ul,
div#menu > ul > li.hover > ul,
div#menu > ul > li:hover > ul > li > ul,
div#menu > ul > li.hover > ul > li > ul
{
	-moz-box-shadow: 4px 4px 8px 0px rgba(9, 9, 9, 0.4);
	box-shadow: 4px 4px 8px 0px rgba(9, 9, 9, 0.4);
}

/* Expanding Menu */

#menu li.expand {
	font: normal 95%/210% Verdana,Geneva,Helvetica,sans-serif;
	display: block;
	border-top: none;
	text-decoration: none;
	margin: 0;
	/* min-width: 18em; */
	line-height: 2.0;
	padding: 0 5px 0 2px;
	font-weight: 900;
	background: #DFCC80 url(../images/menuexpandright.gif) no-repeat 100% 100%;
}

#menu li.expand:hover, #menu li.expand:focus {
	background-color: #F2EBCC;
}

#menu li.expand li {
	font-size: 104%;
}

/* End Dropdown Menu */


/* Menu Page */

div.menuset {
	overflow: hidden;
}
div.menuset, div.clear {
	clear: both;
	min-height: .5em;
}
div.clear > div, div.menu {
	width: 23%;
	margin-right: .5em;
}
div.clear > div, div.menu, div.menu > ul {
	float: left;
}
div.clear > div {
	border-top: thin solid;
	padding: 1px;
}
div.menu {
	margin-bottom: -1990px;
	padding-bottom: 2000px;
	background-color: #F2EBCC;
}
div.menu, div.menu > ul > li > span {
	border: thin solid;
}
div.menu > h2, div.menu > ul, .menu > p {
	margin: 0 !important;
	padding: 0.5em;
}
div.menu > h2 {
	background-color: #DFCC80 !important;
}
div.menu > ul {
	list-style-type: none;
	padding-top: 0;
	padding-bottom: 0;
}
div.menu > ul > li {
	margin-bottom: 0.25em;
}
div.menu > ul > li > span {
	display: none;
	position: absolute;
	margin-left: .5em;
	background-color: white;
	padding: 0 .5em 0 .5em;
	max-width: 20em;
}
div.menu > ul > li:hover > span,
div.menu > ul > li:focus > span {
	display: inline;
}
div.menu p {
	font-style: italic;
}
/* End Menu Page */

p.description {
	font-style: italic;
	margin: 0 0 0 1em;
}


#mivheader #maint {
	color: #990000;
	font-size: 120% !important;
	font-weight: bold;
	font-variant: small-caps;
	float: left;
	margin-left: 6em;
	margin-top: 1em;
	min-width: 54em;
}

/* ----- Home page divs ----- */
/* All of this in the '#homebody' section is used *only* in a few static .html pages:
	index.html	logout.html	timeout.html	unauthorized.html
 */
#homebody {
	padding: 17px;
	height: 420px;
	background: url(../images/homebody.jpg) no-repeat;
	background-color: #F2EBCC;
}

	#homebody #left {
		height: 442px;
		width: 235px;
		float: left;
		padding: 0 0 0 7px;
		margin-bottom: -25px;
		background-color: transparent;
	}

		#homebody #left #randomImage {
			border: 0;
			height: 362px;
			width: 235px;
			display: block;
			z-index: 1;
		}

		#homebody #left #ucdLogo img {
			clear: both;
			border: 0;
			height: 65px;
			display: block;
		}

	#homebody #right {
		position: absolute;
		left: 295px;
		width: 470px;
		padding-top: 135px;
		background-color: transparent;
	}

		#homebody #right #projectInfo {
			padding-top: 20px;
			padding-bottom: 10px;
			background-color: transparent;
		}

		#homebody #right #mid {
			background-color: transparent;
			padding-top: 25px;
		}

			#homebody #right #mid #login {
				float: left;
				/*margin-top: 5em;*/
				padding-left: 20px;
				/*line-height: 300%;*/
				background-color: transparent;
				width: 260px;
			}
				#homebody #login h1 {
					margin: 10px 0 0 0;
					padding-bottom: 10px;
					padding-top: 20px;
					font-size: 1.3em;
					font-family: Helvetica,sans-serif;
					font-weight: 900;
				}
				#homebody #login a.login:visited {
					color: #8E4C8E;
				}

			#homebody #right #mid #announcements {
				height: 190px;
				width: 150px; /* 12 or 14 em looks good too */
				margin-top: 20px;
				background-color: transparent;
				float: left;
				border-left: 1px solid #BF9900;
			}

		#homebody #right #help {
			background-color: transparent;
			clear: right;
			vertical-align: bottom;
			padding: 0;
			margin: 0;
		}

/* ----- Breadcrumb divs ----- */

#breadcrumbs {
	background: url("../images/homepage/home.png") no-repeat transparent;
	color: #666666;
	display: inline;
	float: left;
	font-size: 0.85em;
	height: 20px;
	margin: 23px 0 0 17px;
	padding-left: 20px;
}

ul#breadcrumbs {
	list-style: none;
}
ul#breadcrumbs li {
	display: inline-block;
}
ul#breadcrumbs li + li:before {
	content: '> ';
	margin-left: .5em;
}

#breadcrumbs a, #breadcrumbs a:link, #breadcrumbs a:visited {
	color: #002666;
	background-color: transparent;
}

#breadcrumbs a:hover, #breadcrumbs a:focus {
	color: #77160B;
	background-color: transparent;
}

#proxy {
	clear: both;
	display: inline;
	font-size: 1.0em !important;
	color: #666;
	background-color: transparent;
	height: 20px;
	margin-left: 0;
	padding-left: 0;
}

#proxy .proxy {
	background: url("../images/homepage/user.png") no-repeat 1px top transparent;
	float: right;
	padding: 4px 10px 0 20px;
}

/* ----- New switch-user MRU ----- */
/* using tips from http://stackoverflow.com/a/20643581/17300 */
div.proxy ul#proxymru {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0 0.75em 0 1em;
	background-color: #f4eacc;
	max-height: 0;
	overflow: hidden;
	/*border-radius: 0 0 10px 10px;*/
	border-radius: 0 0 5px 5px;
	transition: max-height 0.5s ease-in;
}
div.proxy ul#proxymru a:link {
	display: none;
	width: 100%;
	text-decoration: none;
	padding-left: 0.75em;
	padding-right: 0.75em;
}
div.proxy ul#proxymru a:hover {
	background-color: #DFCC80;
}
div.proxy:hover ul#proxymru {
	padding: 0.3em 0.75em 0.75em 1em;/*orig*/
	padding: 0.3em 0 0.75em 0;/*sdp-new*/
	border: 2px solid #dbc97a;
	transition: max-height 0.5s ease-out;
	max-height: 90px;
	box-shadow: 3px 3px 12px #b0b0b0;
}

div.proxy:hover ul#proxymru a:link {
	display: inline-block;
}
/* ----- End of MRU ----- */

#proxy .proxy a:link, #proxy .proxy a:visited {
	color: #002666;
	background-color: transparent;
}

#proxy .proxy a:hover, #proxy .proxy a:focus {
	color: #77160B;
	background-color: transparent;
}

/* ----- Main text area divs----- */


#main {
	clear: both;
	padding: 17px;
	min-height: 400px;
	background-color: transparent;
}

#main.help {
	min-height: 150px;
}
#main.help h2 a:link {
	color: #0033ff;
	text-decoration: underline;
}
#main.help h2 a:visited {
	color: #8e4c8e;
}
#main.help h2 a:hover, #main.help h2 a:focus {
	color: #77160B;
	text-decoration: none;
}


#main #left {
	width: 50%;
	float: left;
	background-color: transparent;
	margin-bottom: 2em;
	padding-right: 1em;
	border-right: 1px solid #CCAD33;
}

#main #right {
	background-color: transparent;
	float: right;
	margin-bottom: 2em;
	width: 45%;
}

#main div.indent {
	margin-left: 2em;
	display: block;
}

#main ul.itemlist {
	list-style:none;
}

#main #returnit, #routeit ul.itemlist li {
	margin-top: 0.8em;
}

#main a.attention:link {
	font-size: 100%;
	color: #D53344;
	background-color: transparent;
	text-decoration: underline;
}

#main a.attention:visited {
	font-size: 100%;
	color: #D53344;
	background-color: transparent;
	text-decoration: underline;
}

#main a.attention:hover, #main a.attention:focus {
	font-size: 100%;
	color: #77160B;
	background-color: transparent;
	text-decoration: none;
}

#main h1 {
	padding-bottom: 10px;
	padding-right: 10px;
	margin: 0;
	font-size: 1.3em;
	font-family: Helvetica,sans-serif;
	font-weight: 900;
	color: #002666;
	background-color: transparent;
}

#logoutbody h1 {
	margin: 0;
	font-size: 1.3em;
	font-family: Helvetica,sans-serif;
	font-weight: 900;
	color: #000000;
	background-color: transparent;
}

#main h2 {
	margin: 1.0em 0 0 0;
	font-size: 1.1em;
	font-weight: 900;
	color: #335185;
	background-color: transparent;
}

#main .subselect .heading {
	color: #335185;
	font-weight: bold;
}

#main .subselect ul {
	padding: 0;
}

#main .subselect ul li {
	padding-left: 1em;
}

#main h2 a:link, #main h2 a:visited  {
	color: #335185;
	text-decoration: underline;
}

#main h2 a:hover, #main h2 a:focus {
	color: #77160B;
	text-decoration: none;
}

#main h3 {
	margin: 1.0em 0 0 0;
	font-size: 0.9em;
	font-weight: 900;
	color: #335185;
	background-color: transparent;
}

#main h3 a:link {
	color: #0033ff;
	text-decoration: underline;
}

#main h3 a:visited {
	color: #8E4C8E;
	text-decoration: underline;
}

#main h3 a:hover, #main h3 a:focus {
	color: #77160B;
	text-decoration: none;
}

#main h4 {
	margin: 1.0em 0 0 0;
	font-size: 0.8em;
	font-weight: 900;
	color: #335185;
	background-color: transparent;
}

#main select, #main input {
	margin: 0;
	padding: 0;
	font-size: 100%;
	background-color: transparent;
	background-color: white;
}

#main p.warning {
	margin: 1em 0 0 0;
	padding: 0;
	font-size: 0.9em;
	color: #D53344;
	/*display: inline;*/
}

#main p.notice {
	padding: 0;
	font-size: 1.1em;
	color: #D53344;
	margin-bottom: 1.0em;
}

#main ul {
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 15px;
	padding-left: 1em;
}

/* used on manageusers.jsp */
#main ul.menulist {
	margin: 0 0 1em 0;
	padding-left: 1em;
	list-style-type: none;
}
ul.menulist > li {
	margin-bottom: 0.5em;
}
ul.menulist > li > a {
	font-weight: bold;
	color: #335185;
}
/* ----------------------- */

#main ul li {
	margin-left: 10px;
	margin-top: 0;
	padding: 0 0 1px 0;
	background-color: inherit;
}

#main ul ul {
	margin-bottom: 0 !important;
}

#main ol {
	margin: 0;
	padding: 0;
	font-size: 1.0em;
}

#main ol li {
	margin: 0;
	padding: 0;
	color: #000;
	background-color: inherit;
}

#main hr {
	color: #2F4D6A;
	background-color: transparent;
}

#main form, select {
	color: #000;
	background-color: transparent;
}

/* ----- MIVMain (home page) divs----- */
.selectlist {
	min-width: 22em;
}

#main .selectlist li {
	margin-left: 10px;
	margin-top: 0;
	padding: 0.2em 0 0.1em 3em;
	background-color: transparent;
}

#main .selectlist h1 {
	padding: 1.5em 0 0 3em;
}

.selectlist .icon {
	float: left;
	margin-top: 2px;
	width: 50px;
	height: 50px;
}

.selectlist #sign {
	background: url("../images/homepage/sign.jpg") no-repeat transparent;
}

.selectlist #dossier {
	background: url("../images/homepage/dossier.jpg") no-repeat transparent;
}

.selectlist #review {
	background: url("../images/homepage/review.png") no-repeat transparent;
}

.selectlist #open {
	background: url("../images/homepage/open.png") no-repeat transparent;
}

.selectlist #biosketches {
	background: url("../images/homepage/biosketches.png") no-repeat transparent;
}

.selectlist #completed {
	background: url("../images/homepage/completed.jpg") no-repeat transparent;
}

.selectlist #manage {
	background: url("../images/homepage/manage.jpg") no-repeat transparent;
}

.selectlist #reports {
	background: url("../images/homepage/reports.jpg") no-repeat transparent;
}

.selectlist #devteam {
	background: url("../images/homepage/devteam.png") no-repeat transparent;
}

html.SYS_ADMIN.prod body .selectlist #sign {
	background: url("../images/homepage/sign_prod.png") no-repeat transparent;
}

html.SYS_ADMIN.prod body .selectlist #dossier {
	background: url("../images/homepage/dossier_prod.png") no-repeat transparent;
}

html.SYS_ADMIN.prod body .selectlist #completed {
	background: url("../images/homepage/completed_prod.png") no-repeat transparent;
}

html.SYS_ADMIN.prod body .selectlist #manage {
	background: url("../images/homepage/manage_prod.png") no-repeat transparent;
}

html.SYS_ADMIN.prod body .selectlist #reports {
	background: url("../images/homepage/reports_prod.png") no-repeat transparent;
}

.selectlist .heading .icon h1 {
	float: left;
	padding-top: 25px;
	padding-left: 55px;
	padding-bottom: 5px!important;
	min-width: 15em;
}
.selectlist ul {
	clear: both;
	list-style: none;
	margin-bottom: 5px!important;
}
.selectlist .heading {
	clear: both;
}
.selectlist .zero {
	color: #009900;
}
.selectlist .number {
	color: #D53344;
	font-weight: 900;
}

/* -- search results page -- */
	/* hide search results when javascript is enabled * /
	#main .searchresults {
		margin: 1.0em 0 1.0em 0;
		font-size: 1.1em;
		font-weight: 900;
		background-color: transparent;
		display: none;
	}

	/ * show search results when javascript is disabled * /
	.noscript #main .searchresults {
		margin: 1.0em 0 1.0em 0;
		font-size: 1.1em;
		font-weight: 900;
		background-color: transparent;
		display: block;
	}*/
/* Normal state is for things to display - no javascript = show search results when javascript is disabled */
#main div.searchresults {
	margin: 1.0em 0 1.0em 0;
	font-size: 1.1em;
	font-weight: 900;
	background-color: transparent;
}
/* Now hide the search results if javascript is enabled */
html.js #main div.searchresults {
	display: none;
	/* And don't repeat everything that's already in the normal case */
}

/* ----- tables ----- */

	#main table.report th {
		font-weight: 900;
		font-size: 110%;
		text-align: left;
		background-color: transparent;
	}

	#main table.report td {
		border-top: 1px dotted #92453C;
	}

	#main table.border {
		border: #335185 solid 1px;
		font-size: 0.9em;
	}

	#main table.border th {
		background-color: #F2EBCC;
		border-bottom: #77160B dotted 1px;
		border-right: #77160B dotted 1px;
		color: #335185;
		text-align: left;
	}

	#main table.border th.highlight {
		background-color: #D5DBE1;
		color: #000;
	}

	#main table.border td {
		border-bottom: #CCD4E0 solid 1px;
		border-right: #CCD4E0 dotted 1px;
		text-align: left;
	}

	#main table.border td.subheader {
		background-color: #D5DBE1;
	}

	#main table.border td.highlight {
		background-color: #D5DBE1;
	}

	div.logout p {
		margin: 0;
		padding-bottom: 10px;
		padding-top: 20px;
		font-size: 1.3em;
		font-family: Helvetica,sans-serif;
		font-weight: 900;
	}

/* --------------- Footer --------------- */
#footer {
	clear: both;
	font-size: 0.8em;
	text-align: center;
	color: #4C6794;
	background-color: transparent;
	background: url("../images/footerBorder.gif") repeat-x;
	padding: 1.5em 0;
	margin: 0;
	box-shadow: 0 10px 10px -5px rgba(128, 128, 128, 0.4) inset;
}

/* --------------- Hidden Label --------------- */
.hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	height: 1px;
	width: 1px;
	overflow: hidden;
}


/* --------------- Hide dojo's resize handle --------------- */
body div.dojoxResizeHandleClone, body div#dojoxGlobalResizeHelper {
	border: none !important;
	top:  -500px !important;
	left: -500px !important;
}

/*----------------- div bottom margin -------------------*/
div.marginBottom {
	margin-bottom: 1em;
}

#main .egghead {
	background: url("../images/egghead.jpg") no-repeat transparent;
	height: 230px;
	width: 300px;
}

html.SYS_ADMIN.prod body #main .egghead {
	background: url("../images/egghead_prod.png") no-repeat transparent;
}

#main .important {
	background: url("../images/important.jpg") no-repeat transparent;
	height: 72px;
	width: 72px;
}

html.SYS_ADMIN.prod body #main .important {
	background: url("../images/important_prod.png") no-repeat transparent;
}

#main .menublock {
	background-color: transparent;
	display: inline-block;
	float: left;
	margin: 0 1em 0em 0;
	max-width: 50%;
	min-width: 30%;
	width: 31%;
}

#main .menublock li {
	min-width: 14em;
}

div#activity {
	display: none;
}
html.SYS_ADMIN div#activity {
	display: block;
	clear: both;
}
html.SYS_ADMIN div#activity ul {
	list-style-type: none;
}
/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */
