
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

main#main div#messagebox.hasmessages {
	margin-bottom: 1em;
	padding-left: 1.5em;
}
main#main div#messagebox.hasmessages.collapsed { /* not currently used. thinking about allowing re-opening the collapsed messagebox */
	display: block;
	height: 0;
	padding: 0;
	border-width: 1px;
	box-shadow: none;
}

div.addrecord form#addpacket {
	display: inline-block;
}

div.addrecord form#addpacket.showing {
	background-color: lightyellow;
	border: 1px dotted black;
	border-radius: 4px;
	padding: 1.5em;
}

main .packetlist .workitems {
	margin-left: 2em;

}
main .packetlist .workitems li {
	margin-bottom: 0;
	border-bottom: 1px dotted #92453C;
}

.workitems > span {
	display: list-item;
	padding: 1em 0;
}

.file.entry,
#requestlist .record {
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	max-width: 80em;
	border: none;
}

main#main section.packetlist li.file.selectable:hover,
main#main section.packetlist li.file.selectable:focus,
main#main section.packetlist li.file.selectable.selected {
	background-color: #f0fff2;
}

span.packet,
span.packetrequest {
	display: inline-block;
	padding: 0.5em 0;
	vertical-align: bottom;
}

span.buttons {
	position: relative;
	display: inline-block;
	visibility: hidden;
	max-height: 28px; /* change to ems? */
	background-color: #b2bdcf;
	padding: 4px 0.5em; /* change back to ems? */
	margin-left: 1em;
	margin-bottom: 0.25em;
	box-shadow: 2px 2px 8px #555;
}

.submission {
	float: right;
	display: inline-block;
	padding-top: 0.5em;
}

.ui-pointer.ui-left:after {
	content : ' ';
	display : inline-block;
	position : absolute;
	margin: 0;
	padding: 0;
	left: -18px;
	top : 0;
	width: 0;
	height: 0;

	border: solid rgba(255, 255, 255, 0);
	border-width: 14px 18px 14px 0px;
	border-right-color:  #b2bdcf;
}

#packetlist .workitems li:hover span.buttons,
#packetlist .workitems li:focus span.buttons,
#packetlist .workitems li.selected span.buttons {
	visibility: visible;
}

.packetlist .workitems {
	list-style-type: none;
}

main#main p {
	max-width: 65em;
}

#combined, #combined > a {
	font-size: 110%;
	font-weight: bold;
	color: #335185;
}

.documentname { /* same as in biosketch.css, without the float: */
	font-weight: bold;
	font-style: italic;
}
.file.entry .documentname {
	color: #92453C;
}
h1 > .documentname {
	color: inherit; /* keep it the same color as the rest of the h1 */
}

/* patterned after .changed in mivDesign.css but see...
   https://lists.w3.org/Archives/Public/www-style/2008Oct/0214.html "generated content does not introduce word boundaries for 'text-transform: capitalize'"
*/
.file.entry.stale .packet.documentname:after {
	/*
	    \200B is unicode "Zero Width Space" which creates a word boundary.
	    text-transform needs a word boundary to work, and "content:" in
	    a :before or :after only gets interior word boundaries, no boundaries
	    around the generated content.
	*/
	content: "\200Boutdated";

	text-transform: capitalize;
	margin-left: 1em;
	padding: 0 0.5em;
	font-family: Helvetica;
	font-weight: bold;
	font-style: normal;
	color: black;
	background-color: #ffcd00;
	border-radius: 5px;
}

.preview {
	display: inline-block;
	float: right;
}
.timestamps {
	display: block;
	clear: both;
	font-size: smaller;
}
.timestamps .ctime::before {
	content: "created: ";
}

.timestamps .requesttime::before {
	content: "requested: ";
}

.timestamps .submittime::before {
	content: "— submitted: ";
}

.timestamps .mtime::before {
	content: "— modified: ";
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */
