/*
 * Style for rafselect.jsp and raf.jsp.
 */

#main .wideDialog {
    max-width: 75em;
    min-width: 65em;
    width: auto;
}

fieldset.mivfieldset legend {
    float: left;
    margin-left: 0;
}

fieldset.selection {
    margin-top: 1em;
    padding-left: 0;
}

fieldset.selection legend {
    padding-left: 0;
    float: none;
}

fieldset.selection label {
    float: left;
    margin-right: .5em;
    font-weight: bold;
}

fieldset.selection select {
    display: block;
}

div.description {
    font-size: 1.5em;
    height: 1.5em;
}