/* ----- Style sheet for myinfovault.ucdavis.edu re-sequence utility ----- */

#main .ActiveResequence {
	display: none;
}

html.js #main .ActiveResequence {
	display: inline-block;
}

html.js #listarea ul.mivrecords li,html.js #listarea ul.mivrecords li.records {
	list-style-type: none;
	margin-left: 0;
}

html.js .active .ui-state-default .entry {
	background: url("/miv/images/resequence_bg.gif") repeat-y scroll;
	margin-bottom: 0.2em;
	padding-left: 1em;
}

html.js #listarea ul.mivrecords li.records {
	border: 0 none;
	color: #000000;
}

html.js #listarea ul.mivrecords li.records.ui-state-default.active, html.js #listarea li.section.active {
	cursor: move;
}

html.js #listarea li.section.active {
	background: url("/miv/images/resequence_bg.gif") repeat-y scroll;
	border-top: 1px dotted #003399;
	padding-left: 0;
	border-bottom: 2px dotted #0033FF;
}

html.js .ui-sortable-block {
	overflow-y: auto;
}

html.js #listarea li.section {
	border-right: 0 none;
	border-left: 0 none;
	margin-bottom: 0.5em;
	margin-left: 0.5em;
	padding-left: 0;
}

html.js #listarea li.section.active div.section {
	margin-left: 0.35em;
}

html.js #listarea li.section.active div.sectionhead {
	border-top: 0 none;
}

html.js #listarea {
	border: 0 none;
	color: #000000;
}

html.js #listarea ul.section-records.ui-sortable.active {
	border-bottom: 2px dotted #0033FF;
}

#listarea ul.section-records {
	padding-left: 0.1em;
}

html.js #listarea .ui-state-disabled {
	filter: alpha(Opacity=100);
	opacity: 1.00;
	border: 0 none;
	color: #000000;
}

html.js #listarea .ui-state-default {
	filter: alpha(Opacity=100);
	opacity: 1.00;
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited {
	color: #0033FF;
	text-decoration: underline;
}

.ui-state-default a:focus,.ui-state-default a:hover {
	color: #77160B;
	text-decoration: none;
}

html.js #listarea .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #fbf9ee url(/miv/images/jquery-ui/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
	color: #363636;
	min-height: 4em;
	list-style-type: none;
}

/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */
