/*
 * Style for /jsp/useradd.jsp
 */
div.attention p:before {
	vertical-align: top;
	margin-right: .5em;
	content: url(../images/error.png);
}
div.attention p {
	display: inline-block;
	margin: 0;
}
div.attention a {
	color: #D53344;
	font-style: italic;
}

/*
 * Summary, form columns
 */
#main div.columns, div.columns > div {
	margin: 0.5em 0 0 0;
	padding: 0;
}
#main div.columns > div {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 70%;
}
#main div.columns > div:first-of-type {
	width: 30%;
}
/* box style */
#main div.columns > div > * {
	box-sizing: border-box;
	margin-right: 1.5em;
	background-color: #F4EACC;
	border: 2px solid #DBC97A;
	border-radius: 10px;
	box-shadow: 3px 3px 12px #B0B0B0;
}
html.SYS_ADMIN.prod body #main div.columns > div > * {
	background-color: #FFDDDD;
	border-color: #FFDDDD;
}

/*
 * Workflow summary
 */
ul#summary {
	list-style: none;
	padding: 0;
}
ul#summary li {
	padding: .5em;
	margin: .5em;
}

ul#summary li:before {
	content: ' ';
	font-weight: bold;
	display: inline-block;
	width: 0.75em;
	margin-right: 4px;
}
ul#summary li.current:before {
	content: '\0025B6'; /* Unicode "Black Right-Pointing Triangle" */
	color: #002855; /* UC Blue */
}
ul#summary li.current/*, ul#summary li:hover*/ {
	background-color: #DFCC80;
}
html.SYS_ADMIN.prod body #main ul#summary li.current {
	background-color: #ee9999;
}

/*
 * Data tables server-side.
 */
#main table.dataTable > tbody > tr:not([data-disabled]) > td:first-of-type:not(.details-control) > span:before,
#main table.dataTable > tbody > tr:not([data-disabled]) > td.details-control + td > span:before,
#main table.dataTable > tbody > tr:not([data-disabled]) > td.dummy-control + td > span:before {
	content: ' ';
	display: inline-block;
	margin-right: 4px;
	background: url("../images/checkmark.png") no-repeat;
	background-position: -112px 0; /* -112 for radio; or -16px; for checkbox */
	vertical-align: text-bottom;
	height: 16px;
	width: 0;
	padding-right: 16px;
}

#main table.dataTable > tbody > tr[data-disabled] > td.details-control + td > span:before {
	content: ' ';
	display: inline-block;
	margin-right: 4px;
	background: url("../images/checkmark.png") no-repeat;
	background-position: -144px 0; /* -144 for disabled radio */
	vertical-align: text-bottom;
	height: 16px;
	width: 0;
	padding-right: 16px;
}

#main table.dataTable > tbody tr.selected > td:first-of-type:not(.details-control) > span:before,
#main table.dataTable > tbody > tr.selected > td.details-control + td > span:before,
#main table.dataTable > tbody > tr.selected > td.dummy-control + td > span:before {
	background-position: -96px 0; /* -96 for radio; or 0 for checkbox */
}

#main table.dataTable > tbody > tr.selected,
#main table.dataTable > tbody > tr.selected > .sorting_1 {
	background-color: #DFCC80;
}

/* paragraphs in row details */
#main table.dataTable tr.shown + tr p {
	color: #660000;
	font-style: italic;
}

/*
 * Workflow form
 */
#main form#manageUsersForm {
	padding-top: 1em;
	padding-bottom: 3em;
}
form#manageUsersForm fieldset {
	border: none;
}
form#manageUsersForm fieldset legend {
	font-weight: bold;
	margin-bottom: 1em;
}
form#manageUsersForm > button {
	position: absolute;
	bottom: 0.8em;
}
form#manageUsersForm > button.next {
	/*right: 1.5em;*/
	left: 8em;
}
form#manageUsersForm > button.previous {
	left: 1.5em;
}
form#manageUsersForm > button[name=cancel] {
	right: 3em;
}
form#manageUsersForm fieldset.roles {
	display: inline;
}
form#manageUsersForm fieldset #roleText {
	min-height: 1.5em;
	line-height: 1.5em;
	vertical-align: middle;
}

/*
 * Account Type step
 */
.accountTypeSelector input[type="radio"] + label {
	margin-left : 0.2em;
	margin-right: 0.8em;
}
#main #errormessages ul > li {
	font-weight: inherit;
}

/*
 * User edit step
 */
#jointScopes, #jointScopes > div {
	display: none;
}
div#assignments label[for^="scope"] {
	display: block; /* Maybe ? */
}
div.assignment input[type="search"] {
	width: 36em;
}
.buttonset {
	display: block;
	width: 4.5em;
}

/*
 * Confirmation step
 */
#confirmation .appointeeConversionWarning > span {
	font-weight: bold;
}

/*
 * Responsive summary and form columns
 */
@media (max-width: 768px) {
	#main div.columns > div, #main div.columns > div:first-of-type {
		float: none;
		width: 100%;
		min-width: 55em;
	}
}

/*
 * dialog box
 */
#fuzzyDialog .formhelp {
	clear: both;
	color: #660000;
	font-size: 1.1em;
	font-style: italic;
	margin-left: 1em;
	margin-right: 1em;
}

#fuzzyDialog .formhelp a {
	font-style: normal;
	text-decoration: underline;
}

#fuzzyDialog > fieldset {
	margin-left: 1em;
	margin-right: 1em;
	border: none;
}
